@import "./variables";
@import "./functions";

body {

    @include color($redder);
}

.test {
    @include change_font_size($super_large);
    text-align: center;
    color:$textColor;
    font-size: 100px;
    font-family: 'Bowlby One SC', cursive;
}
img{
    width: 60%;
    height: 60%;
    display: block;
    margin: 5px auto 45px;
    
}
.header{
    padding: -30px;
    background: white;

 
}
 
ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    

}
li {
   float: left;

   
    
}
li a {
    padding: 14px 16px;
    display:block;
    color: black;
    font-size: 20px;

}










